@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-raspberry: hsl(332, 51%, 32%);
    --op-Dark-raspberry: hsla(323, 100%, 98%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(30, 54%, 90%);
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:  var(--Dark-Charcoal);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    background-color: white;
    margin: 40px;
    border-radius: 20px;
    padding-bottom: 2em;
}

.top-image {
    width: 91%;
    margin-top: 40px;
    padding: auto;
}

.top-image img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
  
#steps {
    width: 90%;
}

h1,h2 {
    font-family: 'Young Serif',sans-serif;
}

h1 {
    margin: 1em 0 1em 0;
    font-weight: 400;
    font-size: 3rem;
}

h2{
    font-size: 1.9em;
    font-weight: 400;
    margin: 0.8em 0 0.5em 0;
    color: var(--Nutmeg);
}

.container {
    background-color:  var(--op-Dark-raspberry);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 2em 2em 0 2em;
    margin: 1.5em 0;
    border-radius: 20px;
}

.container h3 {
    font-size: 1.5em;
    color: var(--Dark-raspberry);
    margin: 0;
    padding: 0;
}

.container ul {
    margin: 1em 0;
}

li {
    margin: 0 0 1em 1.7em;
    /* text-indent: 1em; */
    padding-left: 0.8em;
    text-align: left;
}

li::marker {
    color: var(--Nutmeg);
    font-weight: bold;
}

ol,ul {
    margin: 2em 0;
}

.bold {
    font-weight: bold;
}

hr {
    margin: 1em 0;
}

#nutrition-table {
    width: 90%;
    margin: 1.5em 0;
}

#nutrition-table hr {
    margin: 1em 0;
}

.element {
    margin-left: 2em;
}

.quantity {
    margin-right: 50%;
    color: var(--Nutmeg);
    font-weight: bold;
}

#nutrition-table div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

